<div class="post-form">
    <form id="post">
        <span class="title">Título da postagem</span>
        <input type="text" max="30" id="title">
        <span class="title">Descrição curta</span>
        <input type="text" max="150" id="short-description">
        <span class="title">Conteúdo</span>
        <textarea id="content" cols="30" rows="10"></textarea>
        <input class="send" type="submit" placeholder="Postar">
    </form>
</div>